extends layout
block content
  h1= title
  if (toShow == null)
    h2 No instance to detail
  else
    - let Nutsid = toShow._id
    - let name= toShow.name
    - let cost = toShow.cost
    - let size = toShow.size
    div
      div.row
        div(class='NutsAttr mr-3') Nuts ID is:
        div #{Nutsid}
      div.row
        div(class='NutsAttr mr-3') Nuts name is:
        div #{name}
      div.row
        div(class='NutsAttr mr-3') Nuts cost is:
        div #{cost}
      div.row
        div(class='NutsAttr mr-3') Nuts size is:
        div #{size}